<div>
  <div>
    <h1> Drone Life </h1>
  </div>
  <div>
    <p>
      {{user.username}}
      {{posts.description}}
      {{post.typeOfDrone}}
      {{posts.tags}}
    </p>
  </div>

  <section class="user-img">
    {{!-- <img src="/images/{{userPost}}" alt="{{userPost.description}}"> --}}
  </section>

</div>