<div class="card">
  {{#each posts}}
    <a class="list-item flex-row justify-space-between" href="/dashboard/edit/{{id}}">
      <span>{{typeOfDrone}}</span>
      <span>{{tags}}</span>
       <span>{{description}}</span>
    </a>
  {{/each}}
</div>



<div class="card">Events
  {{#each meetups}}
    <a class="list-item flex-row justify-space-between" href="/dashboard/editMeetup/{{id}}">
      <span>{{title}}</span>
      <span>{{location}}</span>
      <span>{{image}}</span>
       <span>{{description}}</span>
    </a>
  {{/each}}
</div>


<div class="card">Profile
  {{#each profile}}
    <a class="list-item flex-row justify-space-between" href="/dashboard/editProfile/{{id}}">
      <span>{{username}}</span>
      <span>{{socialmedia}}</span>
      
    </a>
  {{/each}}
</div>