{{title}}
<section class="user-img">
  <img src="/images/{{userPost}}" alt="{{userPost.description}}">
  <div class="img-details">
    <p>{{username}}</p>
  </div>
  <section class="comments">
    <p>{{comments}}</p>
  </section>
</section>