{{!-- 

<main class="row">
    
 
<div class="card">
  {{#each userPost}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>
        <a href="/Posts/{{id}}">{{typeOfDrone}}</a>
      </h2>
      <span>{{typeOfDrone}}</span>
      <span>{{tags}}</span>
       <span>{{description}}</span>
    </div>
    
  </article>
  {{/each}}
</div>
 </main> --}}

{{!-- post cards, import uploaded media preview w heroku database --}}
<main>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cards.css">

  <section class="dark">
    {{#each userPost}}
	<div class="container py-4">
		<h1 class="h1 text-center" id="pageHeaderTitle">Posts</h1>

		<article class="postcard dark blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">Podcast Title</a></h1>
				<div class="postcard__subtitle small">
					
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">{{description}}</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>{{tags}}</li>
					
					<li class="tag__item play blue">
						<a href="#"><i class="fas fa-play mr-2"></i>{{typeOfDrone}}</a>
					</li>
				</ul>
			</div>
		</article>
		
	</div>
</section>
</main>
