<video autoplay muted loop id="myVideo">
  <source src="/image/FastClip.mp4" type="video/mp4">
</video>
<br>
<!-- Optional: some overlay text to describe the video -->
<div class="content">
  <h1>Share Your Adventures @FLYGUYS</h1>
 </div>
  <!-- Use a button to pause/play the video with JavaScript -->
<br>



<main>
    
 <div class="row">

  <div class="row col-12">
  
     
        {{#each userPost}}
         <div class="card " style="width: 18rem;">
            <img src="{{image}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{typeOfDrone}}</h5>
                <p class="card-text">{{description}}</p>
                <p class="card-text">{{tags}}</p>
                <a href="/Posts/{{id}}" class="btn btn-primary">View Post</a>
              </div>
          </div>
        
        {{/each}}

    </div>


<div class="row rowHi MeetupCross">
 <div class="OpenStatement">Share your Meetups with Friends!</div>
 </div>
<div class="row">
   <div class="row col-12">
  
     
        {{#each meetup}}
         <div class="card " style="width: 18rem;">
            <img src="{{image}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{description}}</p>
               
                <a href="/meetup/{{id}}" class="btn btn-primary">View Post</a>
              </div>
          </div>
        
        {{/each}}

    </div>
{{!-- <div class="card">Events
  {{#each meetup}}
   <div class="card-header flex-row justify-space-between">
      <h2>
        <a href="/meetup/{{id}}">{{title}}</a>
      </h2>
      <span>{{location}}</span>
      <span>{{image}}</span>
       <span>{{description}}</span>
    </a>
  {{/each}}
</div> --}}
</div>
 </main> 