<div class="card">
  <div class="card-header">
    <h2>Edit Post</h2>
  </div>
  <form id="editpost" class="card-body">
    <input type="hidden" name="post-id" value="{{post.id}}" />

     <label class="form-label" for="typeOfDrone">Type of Drone</label>
    <input type="text" name="typeOfDrone" value="{{post.typeOfDrone}}" class="form-input" />

    <label class="form-label" for="tags">Tags</label>
    <input type="text" name="tags" value="{{post.tags}}" class="form-input" />

     <label class="form-label" for="image">Image Url</label>
    <input type="text" name="image" value="{{post.image}}" class="form-input" />

     <label class="form-label" for="videoLink">Video Link</label>
    <input type="text" name="videoLink" value="{{post.videoLink}}" class="form-input" />

    <label class="form-label" for="description">Description</label>
    <textarea name="description" class="form-input">{{post.description}}</textarea>

    <button type="submit" class="btn">Update</button>

    <button type="button" id="deletebtn" class="btn">Delete</button>
  </form>
</div>

<script src="/js/editpost.js"></script>