<article class="card">
    <div class="card-header flex-row justify-space-between" id="indivpost">
      <span><img src="{{userPost.image}}" class="card-img-top" alt="...">
      <iframe max-width="350px" height="auto" src="{{userPost.videoLink}}" title="YouTube player" allowfullscreen></iframe>
      </span>
      <span><h2>{{username}}</h2></span>
       <span><p class="card-text">{{userPost.description}}</p></span>
       <span><h4>{{userPost.typeOfDrone}}</h4>
       </span>
       <span><p class="card-text">{{tags}}</p></span>
    </div>
  </article>