<section class="container">
    <h2 class="event-name">{{event.name}}</h2>
    <p>{{event.description}}</p>
    <!--Will double check naming conventions and such. Matches comign-->
    {{reaction}} <!--Do we have an RSVP option?-->
    <section class="comments">
        {{username}} {{{comments}}}
    </section>
</section>